#roda {
  .roda-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .roda-lista {
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    font-size: 20px;

    .lista-title {
      font-size: 25px;
      font-weight: 700;
    }

    &.blue {
      li {
        color: $blue;
      }
    }

    &.red {
      li {
        color: $red;
      }
    }

    &.green {
      li {
        color: $green;
      }
    }

    &.yellow {
      li {
        color: $yellow;
      }
    }
  }
}
